<main class="container z-depth-2">

    <section class="row">
        <article class="container-from col s12 center">

            <h4 class="lead-2">Escolha o tipo de arquivo que você deseja enviar.</h4>

            <article class="col l10 offset-l1 types-download">
                <div class="col l6">
                    <div class="icons-uploads  blue darken-1">
                        <a href="/uploads/docs">
                            <span class="fa fa-file-text-o"></span>
                        </a>
                    </div>
                    <h5>Documentos</h5>
                </div>
                <div class="col l6">
                    <div class="icons-uploads red">
                        <a href="/uploads/images">
                            <span class="fa fa-picture-o"></span>
                        </a>
                    </div>
                    <h5>Imagens</h5>
                </div>
            </article>

        </article>
    </section>

</main>