<script type="text/javascript">

 $(document).ready(function(){
    validForm('#cadastrar', ['nome', 'keywords', 'description']);
 });

</script>

<main class="container z-depth-2">

    <section class="row">
        <article class="container-form col s12">

            <h4 class="lead">Cadastro de Categoria</h4>
            <hr>
            <form action="/categoria/add" method="post" name="categoria_form">

                <div class="input-field col s12">
                    <input type="text" class="validate" name="nome" id="nome">
                    <label for="nome">Nome da Categoria</label>
                </div>

                <div class="input-field col s12">
                    <input type="text" class="validate" name="keywords" id="keywords">
                    <label for="keywords">Keywords</label>
                </div>

                <div class="input-field col s12">
                    <input type="text" class="validate" name="description" id="description">
                    <label for="description">Description</label>
                </div>

                <div class="center">
                    <button id="cadastrar" class="waves-effect waves-light btn">Cadastrar</button>
                </div>

            </form>

        </article>
    </section>

</main>